################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ApplicationCore/bin/Debug/netcoreapp3.1
/src/ApplicationCore/obj
/src/ConsoleApp/.vs/CodeChallenge
/src/ConsoleApp/bin/Debug/netcoreapp3.1
/src/ConsoleApp/obj
/src/Domain/bin/Debug/netcoreapp3.1
/src/Domain/obj
/src/Infrastructure/bin/Debug/netcoreapp3.1
/src/Infrastructure/obj
/tests/Infrastructure.UnitTests/bin/Debug/netcoreapp3.1
/tests/Infrastructure.UnitTests/obj
